* {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    color: #33475b;
}

a {
    text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {

    .top-bar-section {
        width: 100%;
        background-color: #30343a;
        height: 30px;
        overflow: hidden;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .top-bar-left-container {
        display: none !important;
    }

    .top-bar-right-container {
        width: 30px;
        margin-right: 10px;
        float: right;
        overflow: hidden;
    }

    .social-icon-box {
        width: 30px;
        height: 30px;
        float: right;
        border-radius: 50px;
        overflow: hidden;
    }

    .social-icon-box:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    }

    #facebook {
        background-color: #3b5998;
    }

    #facebook img {
        width: 15px;
        margin-top: 8px;
        margin-left: 8px;
    }

    #twitter {
        background-color: #1DA1F2;
    }

    #twitter img {
        width: 15px;
        margin-top: 8px;
        margin-left: 8px;
    }

    #instagram {
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    }

    #instagram img {
        width: 15px;
        margin-top: 8px;
        margin-left: 7px;
    }

    #whatsapp {
        background-color: #25d366;
    }

    #whatsapp img {
        width: 15px;
        margin-top: 8px;
        margin-left: 8px;
    }

    /*-----logo-----*/

    .logo-container {
        width: 100%;
        margin: auto;
        height: 65px;
        overflow: hidden;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .burger-menu-container {
        width: 100%;
        height: 40px;
        background-color: #30343a;
        display: flex;
        justify-content: center;
    }

    .burger-menu-container img {
        width: 30px;
        height: 20px;
        margin-top: 10px;
    }

    /*----- Nav Bar Section -----*/

    #nav-mob {
        display: none;
         !important;
    }

    #nav-pc-tab {
        display: none !important;
    }

    .nav-bar-section {
        width: 100%;
        background-color: #30343a;
        overflow: hidden;
        border-top: 1px solid #0e9ad5;
    }

    .nav-bar-container ul {
        text-align: center;
    }

    .nav-bar-container a {
        color: whitesmoke;
        display: block;
        padding: 10px;
        font-size: 19px;
    }

    .nav-bar-container a:hover {
        color: #0e9ad5;
        transition: 0.4s;
    }

    /*----- Footer Section -----*/

    .footer-section {
        background-color: #30343a;
        width: 100%;
        border-top: 3px solid #0e9ad5;
        padding-bottom: 20px;
    }

    .footer-container {
        width: 100%;
    }

    .footer-content-container {
        width: 100%;
        text-align: center;
    }

    #footer-start-header {
        padding-top: 20px;
    }

    .footer-headers {
        margin-top: 20px;
        color: whitesmoke;
        font-size: 17px;
    }

    .line-edit-short {
        width: 60%;
        margin: auto;
        height: 1px;
        border-top: 1px solid #0e9ad5;
        margin-top: 8px;
    }

    .footer-content-container p {
        color: whitesmoke;
    }

    .footer-content-container a {
        color: whitesmoke;
    }

    .help-info-li li {
        margin: 10px;
    }

    .contact-footer-li li {
        margin-top: 5px;
    }

    .contact-footer-li p {
        margin-top: 20px;
    }

    .footer-wrapper {
        margin-top: 20px;
    }

    .footer-content-container iframe {
        margin-top: 20px;
        width: 80%;
    }

    .footer-content-container a:hover {
        color: #0e9ad5;
    }

}

/*----- For Tablet -----*/

@media screen and (min-width: 769px) and (max-width: 1050px) {

    .top-bar-section {
        width: 100%;
        background-color: #30343a;
        height: 50px;
    }

    .top-bar-left-container {
        width: 200px;
        line-height: 50px;
        float: left;
    }

    .top-bar-left-container h3 {
        padding-left: 10px;
        color: whitesmoke;
        letter-spacing: 1px;
    }

    .top-bar-left-container span {
        color: #0e9ad5;
    }

    .top-bar-right-container {
        margin-top: 10px;
        width: 200px;
        float: right;
    }

    .social-icon-box {
        width: 30px;
        height: 30px;
        float: right;
        margin-right: 10px;
        border-radius: 50px;
        overflow: hidden;
    }

    .social-icon-box:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    }

    #facebook {
        background-color: #3b5998;
    }

    #facebook img {
        width: 15px;
        margin-top: 8px;
        margin-left: 8px;
    }

    #twitter {
        background-color: #1DA1F2;
    }

    #twitter img {
        width: 15px;
        margin-top: 8px;
        margin-left: 8px;
    }

    #instagram {
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    }

    #instagram img {
        width: 15px;
        margin-top: 8px;
        margin-left: 7px;
    }

    #whatsapp {
        background-color: #25d366;
    }

    #whatsapp img {
        width: 15px;
        margin-top: 8px;
        margin-left: 8px;
    }

    /*----- logo -----*/

    .logo-section {
        width: 100%;
        height: 80px;
        overflow: hidden;
    }

    .logo-container {
        width: 100%;
        margin: auto;
        height: 80px;
        overflow: hidden;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 18px;
        margin-bottom: 17px;
    }

    #hide-pc-tab {
        display: none;
    }

    /*----- Nav Bar Section -----*/

    #nav-mob {
        display: none !important;
    }

    .nav-bar-section {
        width: 100%;
        height: 60px;
        background-color: #30343a;
        overflow: hidden;
    }

    .nav-bar-container {
        height: 60px;
    }

    .nav-bar-container ul {
        text-align: center;
    }

    .nav-bar-container li {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 17px;
        margin-right: 17px;
        font-size: 16px;
    }

    .nav-bar-container a {
        color: whitesmoke;
    }

    .nav-bar-container a:hover {
        color: #0e9ad5;
        transition: 0.4s;
    }

    /*----- Footer Section -----*/

    .footer-section {
        background-color: #30343a;
        width: 100%;
        border-top: 3px solid #0e9ad5;
        padding-bottom: 20px;
    }

    .footer-container {
        width: 100%;
        margin: auto;
    }

    .footer-content-container {
        width: 30%;
        margin-left: 10px;
        margin-right: 10px;
        display: inline-block;
        height: 400px;
        overflow: hidden;
        text-align: center;
    }

    .footer-headers {
        margin-top: 20px;
        color: whitesmoke;
        font-size: 17px;
    }

    .line-edit-short {
        width: 60%;
        margin: auto;
        height: 1px;
        border-top: 1px solid #0e9ad5;
        margin-top: 8px;
    }

    .footer-content-container p {
        color: whitesmoke;

    }

    .footer-content-container a {
        color: whitesmoke;
    }

    .footer-wrapper {
        margin-top: 20px;
    }

    .help-info-li li {
        margin-top: 10px;
    }

    .contact-footer-li p {
        margin-top: 10px;
    }

    .contact-footer-li l {
        margin: 10px;
    }

    .li-social {
        margin: 10px;
    }

    .footer-content-container iframe {
        margin-top: 20px;
    }

    .footer-content-container a:hover {
        color: #0e9ad5;
    }

}

/*----- For Desktop -----*/

@media only screen and (min-width: 1050px) {

    .top-bar-section {
        width: 100%;
        background-color: #30343a;
        height: 50px;
    }

    .top-bar-container {
        width: 990px;
        margin: auto;
        height: 50px;
    }

    .top-bar-left-container {
        width: 200px;
        line-height: 50px;
        float: left;
    }

    .top-bar-left-container h3 {
        padding-left: 10px;
        color: whitesmoke;
        letter-spacing: 1px;
    }

    .top-bar-left-container span {
        color: #0e9ad5;
    }

    .top-bar-right-container {
        margin-top: 10px;
        width: 200px;
        float: right;
    }

    .social-icon-box {
        width: 30px;
        height: 30px;
        float: right;
        margin-right: 10px;
        border-radius: 50px;
        overflow: hidden;
    }

    .social-icon-box:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    }

    #facebook {
        background-color: #3b5998;
    }

    #facebook img {
        width: 15px;
        margin-top: 8px;
        margin-left: 8px;
    }

    #twitter {
        background-color: #1DA1F2;
    }

    #twitter img {
        width: 15px;
        margin-top: 8px;
        margin-left: 8px;
    }

    #instagram {
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    }

    #instagram img {
        width: 15px;
        margin-top: 8px;
        margin-left: 7px;
    }

    #whatsapp {
        background-color: #25d366;
    }

    #whatsapp img {
        width: 15px;
        margin-top: 8px;
        margin-left: 8px;
    }

    /*----- logo -----*/

    .logo-section {
        width: 100%;
        height: 80px;
        overflow: hidden;
    }

    .logo-container {
        width: 1000px;
        margin: auto;
        height: 80px;
        overflow: hidden;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 18px;
        margin-bottom: 17px;
    }

    #hide-pc-tab {
        display: none;
    }

    /*----- Nav Bar Section -----*/

    #nav-mob {
        display: none !important;
    }

    .nav-bar-section {
        width: 100%;
        height: 60px;
        background-color: #30343a;
        overflow: hidden;
    }

    .nav-bar-container {
        height: 60px;
        width: 1000px;
        margin: auto;
    }

    .nav-bar-container ul {
        text-align: center;
    }

    .nav-bar-container li {
        display: inline-block;
        margin: 20px;
        font-size: 16px;
    }

    .nav-bar-container a {
        color: whitesmoke;
    }

    .nav-bar-container a:hover {
        color: #0e9ad5;
        transition: 0.4s;
    }

    /*----- Footer Section -----*/

    .footer-section {
        background-color: #30343a;
        width: 100%;
        border-top: 3px solid #0e9ad5;
    }

    .footer-container {
        width: 1000px;
        margin: auto;
    }

    .footer-content-container {
        width: 300px;
        margin-left: 12px;
        margin-right: 12px;
        display: inline-block;
        height: 400px;
        overflow: hidden;
        text-align: center;
    }

    .footer-headers {
        margin-top: 20px;
        color: whitesmoke;
        font-size: 17px;
    }

    .line-edit-short {
        width: 60%;
        margin: auto;
        height: 1px;
        border-top: 1px solid #0e9ad5;
        margin-top: 8px;
    }

    .footer-content-container p {
        color: whitesmoke;

    }

    .footer-content-container a {
        color: whitesmoke;
        cursor: pointer;
    }

    .footer-wrapper {
        margin-top: 20px;
    }

    .help-info-li li {
        margin-top: 10px;
    }

    .contact-footer-li p {
        margin-top: 10px;
    }

    .contact-footer-li l {
        margin: 10px;
    }

    .li-social {
        margin: 10px;
    }

    .footer-content-container iframe {
        margin-top: 20px;
    }

    .footer-content-container a:hover {
        color: #0e9ad5;
    }

}