/*----- For Mobile -----*/

@media screen and (max-width: 769px) {

    /*----- 1st content Section -----*/

    .content-box {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-box p {
        float: left;
        padding-top: 6px;
        padding-right: 20px;
        font-size: 20px;
    }

    .box-tick {
        width: 25px;
        margin-top: 9px;
    }

    .line-edit-long {
        width: 80%;
        margin: auto;
        height: 1px;
        border-top: 1px solid #dbe2ea;
    }

    /*----- Main Body Section -----*/

    .main-section-body {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }

    .lake-info-container {
        width: 100%;
        text-align: center;
        margin-top: 40px;
        overflow: hidden;
    }

    .lake-info-container h4 {
        letter-spacing: 2px;
    }

    .lake-info-container h1 {
        letter-spacing: 5px;
        color: #86c232;
        margin-bottom: 10px;
    }

    .lake-info-container p {
        margin-top: 10px;
        padding-left: 60px;
        padding-right: 60px;
        line-height: 23px;
        font-size: 17px;
        margin-bottom: 20px;
        ;
    }

    .lake-info-container h3 {
        margin-bottom: 10px;
        letter-spacing: 6px;
    }

    .lake-info-container img {
        width: 80%;
        display: block;
        margin: auto;
        border-radius: 10px;
        border-top: 3px solid #86c232;
        border-bottom: 3px solid #86c232;
    }

    .lake-info-left-content {
        margin-top: 40px;
        width: 100%;
    }

    .lake-info-right-content {
        margin-top: 40px;
        width: 100%;
    }
    
    /*----- Pricing Section -----*/
    
    .pricing-container {
        margin-bottom: 40px;
        margin-top: 40px;
    }
    
    .pricing-header-container h2{
        letter-spacing: 2px; 
        text-align: center;
    }

    .pricing-box {
        width: 90%;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 10px;
        border-top: 3px solid #86c232;
        border-bottom: 3px solid #86c232;
        overflow: hidden;
    }

    .pricing-box h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .pricing-box p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .long-line {
        width: 90%;
        border-top: 1px solid #dbe2ea;
        margin: auto;
    }

    .small-line {
        width: 50px;
        border-top: 1px solid #dbe2ea;
        margin: auto;
    }

}

/*----- For Tablet -----*/

@media screen and (min-width: 769px) and (max-width: 1050px) {

    /*----- 1st content Section -----*/

    .content-section-1 {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }

    .content-container-1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-box {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .content-box p {
        float: left;
        padding-top: 6px;
        padding-right: 20px;
        font-size: 20px;
    }

    .box-tick {
        width: 25px;
        margin-top: 9px;
    }

    .line-edit-long {
        width: 80%;
        margin: auto;
        height: 1px;
        border-top: 1px solid #dbe2ea;
    }

    /*----- Main Body Section -----*/

    .main-section-body {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }

    .lake-info-container {
        width: 100%;
        text-align: center;
        margin-top: 40px;
        overflow: hidden;
    }

    .lake-info-container h4 {
        letter-spacing: 2px;
    }

    .lake-info-container h1 {
        letter-spacing: 5px;
        color: #86c232;
        margin-bottom: 10px;
    }

    .lake-info-container p {
        margin-top: 10px;
        padding-left: 60px;
        padding-right: 60px;
        line-height: 30px;
        font-size: 17px;
        margin-bottom: 20px;
        ;
    }

    .lake-info-container h3 {
        margin-bottom: 10px;
        letter-spacing: 6px;
    }

    .lake-info-container img {
        width: 80%;
        display: block;
        margin: auto;
        border-radius: 10px;
        border-top: 3px solid #86c232;
        border-bottom: 3px solid #86c232;
    }

    .lake-info-left-content {
        margin-top: 40px;
        width: 50%;
        height: 100px;
        float: left;
    }

    .lake-info-right-content {
        margin-top: 40px;
        width: 50%;
        float: right;
    }
    
    /*----- Pricing Section -----*/
    
    .pricing-container {
        margin-bottom: 40px;
        margin-top: 40px;
    }
    
    .pricing-header-container h2{
        letter-spacing: 2px; 
        text-align: center;
    }

    .pricing-box-wrapper {
        display: flex;
        justify-content: center;
    }

    .pricing-box {
        margin-left: 20px;
        margin-right: 20px;
        width: 300px;
        margin-left: 25px;
        margin-top: 20px;
        float: left;
        text-align: center;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 10px;
        border-top: 3px solid #86c232;
        border-bottom: 3px solid #86c232;
        overflow: hidden;
    }

    .pricing-box h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .pricing-box p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .long-line {
        width: 90%;
        border-top: 1px solid #dbe2ea;
        margin: auto;
    }

    .small-line {
        width: 50px;
        border-top: 1px solid #dbe2ea;
        margin: auto;
    }

}

/*----- For Desktop -----*/

@media only screen and (min-width: 1051px) {
    
    /*----- 1st content Section -----*/

    .content-section-1 {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }

    .content-container-1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-box {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .content-box p {
        float: left;
        padding-top: 6px;
        padding-right: 20px;
        font-size: 20px;
    }

    .box-tick {
        width: 25px;
        margin-top: 9px;
    }

    .line-edit-long {
        width: 80%;
        margin: auto;
        height: 1px;
        border-top: 1px solid #dbe2ea;
    }

    /*----- Main Body Section -----*/

    .main-section-body {
        width: 1000px;
        margin: auto;
        overflow: hidden;
    }

    .lake-info-container {
        width: 100%;
        text-align: center;
        margin-top: 40px;
        overflow: hidden;
    }

    .lake-info-container h4 {
        letter-spacing: 2px;
    }

    .lake-info-container h1 {
        letter-spacing: 5px;
        color: #86c232;
        margin-bottom: 10px;
    }

    .lake-info-container p {
        margin-top: 10px;
        padding-left: 60px;
        padding-right: 60px;
        line-height: 23px;
        font-size: 17px;
        margin-bottom: 20px;
        ;
    }

    .lake-info-container h3 {
        margin-bottom: 10px;
        letter-spacing: 6px;
    }

    .lake-info-container img {
        width: 80%;
        display: block;
        margin: auto;
        border-radius: 10px;
        border-top: 3px solid #86c232;
        border-bottom: 3px solid #86c232;
    }

    .lake-info-left-content {
        margin-top: 40px;
        width: 500px;
        height: 100px;
        float: left;
    }

    .lake-info-right-content {
        margin-top: 40px;
        width: 500px;
        float: right;
    }

    /*----- Pricing Section -----*/
    
    .pricing-container {
        margin-bottom: 40px;
        margin-top: 40px;
    }
    
    .pricing-header-container h2{
        letter-spacing: 2px; 
        text-align: center;
    }

    .pricing-box-wrapper {
        display: flex;
        justify-content: center;
    }

    .pricing-box {
        margin-left: 20px;
        margin-right: 20px;
        width: 300px;
        margin-left: 25px;
        margin-top: 20px;
        float: left;
        text-align: center;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 10px;
        border-top: 3px solid #86c232;
        border-bottom: 3px solid #86c232;
        overflow: hidden;
    }

    .pricing-box h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .pricing-box p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .long-line {
        width: 90%;
        border-top: 1px solid #dbe2ea;
        margin: auto;
    }

    .small-line {
        width: 50px;
        border-top: 1px solid #dbe2ea;
        margin: auto;
    }


}
