/*----- For Mobile -----*/

@media screen and (max-width: 769px) {

    /*----- 3-tab info Section -----*/

    .content-box {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-box p {
        float: left;
        padding-top: 6px;
        padding-right: 20px;
        font-size: 20px;
    }

    .box-tick {
        width: 25px;
        margin-top: 9px;
    }

    .line-edit-long {
        width: 80%;
        margin: auto;
        height: 1px;
        border-top: 1px solid #dbe2ea;
    }

    /*----- Hero Section -----*/

    .hero-section {
        width: 100%;
        overflow: hidden;
    }

    .lake-info-container {
        width: 100%;
        margin: auto;
        text-align: center;
        margin-top: 30px;
        overflow: hidden;
    }

    .lake-info-container h4 {
        letter-spacing: 2px;
        margin-top: 10px;
    }

    .lake-info-container h1 {
        letter-spacing: 5px;
        color: #86c232;
        margin-bottom: 10px;
    }

    .lake-info-container p {
        margin-top: 10px;
        padding-left: 15%;
        padding-right: 15%;
        line-height: 23px;
        font-size: 17px;
        margin-bottom: 20px;
    }

    .lake-info-container img {
        width: 90%;
        display: block;
        margin: auto;
        border-radius: 10px;
        border-top: 4px solid #86c232;
        border-bottom: 4px solid #86c232;
    }

    /*----- Lakes Section -----*/

    .lakes-section {
        width: 100%;
        background-color: #30343a;
        overflow: hidden;
        border-top: 2px solid #86c232;
        border-bottom: 2px solid #86c232;
        padding-bottom: 30px;
        padding-top: 30px;
        ;
    }

    .lake-info-left-content {
        width: 100%;
        margin: auto;
    }

    .lake-info-left-content img {
        width: 90%;
        display: block;
        margin: auto;
        border-radius: 10px;
        border-top: 4px solid #86c232;
        border-bottom: 4px solid #86c232;
    }

    .lake-info-left-content h3 {
        text-align: center;
        color: whitesmoke;
        padding-left: 50px;
        padding-right: 50px;
        overflow: hidden;
        padding-top: 10px;
    }

    .lake-info-left-content p {
        text-align: center;
        color: whitesmoke;
        padding-left: 15%;
        padding-right: 15%;
        margin-top: 10px;
    }

    .lake-info-right-content {
        margin-top: 30px;
    }

    .lake-info-right-content img {
        width: 90%;
        display: block;
        margin: auto;
        border-radius: 10px;
        border-top: 4px solid #86c232;
        border-bottom: 4px solid #86c232;
    }

    .lake-info-right-content h3 {
        text-align: center;
        color: whitesmoke;
        padding-left: 50px;
        padding-right: 50px;
        overflow: hidden;
        padding-top: 10px;
    }

    .lake-info-right-content p {
        text-align: center;
        color: whitesmoke;
        padding-left: 15%;
        padding-right: 15%;
        margin-top: 10px;
    }

    /*----- Pricing Section -----*/

    .pricing-container {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .pricing-header-container h2 {
        letter-spacing: 2px;
        text-align: center;
    }

    .pricing-box {
        width: 90%;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 10px;
        border-top: 3px solid #86c232;
        border-bottom: 3px solid #86c232;
        overflow: hidden;
    }

    .pricing-box h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .pricing-box p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .long-line {
        width: 90%;
        border-top: 1px solid #dbe2ea;
        margin: auto;
    }

    .small-line {
        width: 50px;
        border-top: 1px solid #dbe2ea;
        margin: auto;
    }

}

/*----- For Tablet -----*/

@media screen and (min-width: 769px) and (max-width: 1050px) {

    /*----- 3-tab info Section -----*/

    .content-section-1 {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }

    .content-container-1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-box {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .content-box p {
        float: left;
        padding-top: 6px;
        padding-right: 20px;
        font-size: 20px;
    }

    .box-tick {
        width: 25px;
        margin-top: 9px;
    }

    .line-edit-long {
        width: 80%;
        margin: auto;
        height: 1px;
        border-top: 1px solid #dbe2ea;
    }

    /*----- Hero Section -----*/

    .hero-section {
        width: 100%;
        overflow: hidden;
    }

    .lake-info-container {
        width: 100%;
        margin: auto;
        text-align: center;
        margin-top: 30px;
        overflow: hidden;
    }

    .lake-info-container h4 {
        letter-spacing: 2px;
        margin-top: 10px;
    }

    .lake-info-container h1 {
        letter-spacing: 5px;
        color: #86c232;
        margin-bottom: 10px;
    }

    .lake-info-container p {
        margin-top: 10px;
        padding-left: 15%;
        padding-right: 15%;
        line-height: 23px;
        font-size: 17px;
        margin-bottom: 20px;
    }

    .lake-info-container img {
        width: 90%;
        display: block;
        margin: auto;
        border-radius: 10px;
        border-top: 4px solid #86c232;
        border-bottom: 4px solid #86c232;
    }

    /*----- Lakes Section -----*/

    .lakes-section {
        width: 100%;
        background-color: #30343a;
        overflow: hidden;
        border-top: 2px solid #86c232;
        border-bottom: 2px solid #86c232;
        padding-bottom: 30px;
        padding-top: 30px;
        ;
    }

    .lake-info-left-content {
        width: 100%;
        margin: auto;
    }

    .lake-info-left-content img {
        width: 80%;
        display: block;
        margin: auto;
        border-radius: 10px;
        border-top: 4px solid #86c232;
        border-bottom: 4px solid #86c232;
    }

    .lake-info-left-content h3 {
        text-align: center;
        color: whitesmoke;
        padding-left: 50px;
        padding-right: 50px;
        overflow: hidden;
        padding-top: 10px;
    }

    .lake-info-left-content p {
        text-align: center;
        color: whitesmoke;
        padding-left: 15%;
        padding-right: 15%;
        margin-top: 10px;
    }

    .lake-info-right-content {
        margin-top: 30px;
    }

    .lake-info-right-content img {
        width: 80%;
        display: block;
        margin: auto;
        border-radius: 10px;
        border-top: 4px solid #86c232;
        border-bottom: 4px solid #86c232;
    }

    .lake-info-right-content h3 {
        text-align: center;
        color: whitesmoke;
        padding-left: 50px;
        padding-right: 50px;
        overflow: hidden;
        padding-top: 10px;
    }

    .lake-info-right-content p {
        text-align: center;
        color: whitesmoke;
        padding-left: 15%;
        padding-right: 15%;
        margin-top: 10px;
    }

    /*----- Pricing Section -----*/

    .pricing-container {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .pricing-header-container h2 {
        letter-spacing: 2px;
        text-align: center;
    }

    .pricing-box-wrapper {
        display: flex;
        justify-content: center;
    }

    .pricing-box {
        margin-left: 20px;
        margin-right: 20px;
        width: 300px;
        margin-left: 25px;
        margin-top: 20px;
        float: left;
        text-align: center;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 10px;
        border-top: 3px solid #86c232;
        border-bottom: 3px solid #86c232;
        overflow: hidden;
    }

    .pricing-box h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .pricing-box p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .long-line {
        width: 90%;
        border-top: 1px solid #dbe2ea;
        margin: auto;
    }

    .small-line {
        width: 50px;
        border-top: 1px solid #dbe2ea;
        margin: auto;
    }

}

/*----- For Desktop -----*/

@media only screen and (min-width: 1051px) {

    /*----- 3-tab info Section -----*/

    .content-section-1 {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }

    .content-container-1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-box {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .content-box p {
        float: left;
        padding-top: 6px;
        padding-right: 20px;
        font-size: 20px;
    }

    .box-tick {
        width: 25px;
        margin-top: 9px;
    }

    .line-edit-long {
        width: 1000px;
        margin: auto;
        height: 1px;
        border-top: 1px solid #dbe2ea;
    }

    /*----- Hero Section -----*/

    .hero-section {
        width: 100%;
        overflow: hidden;
    }

    .lake-info-container {
        width: 1000px;
        margin: auto;
        text-align: center;
        margin-top: 30px;
        overflow: hidden;
    }

    .lake-info-container h4 {
        letter-spacing: 2px;
        margin-top: 10px;
    }

    .lake-info-container h1 {
        letter-spacing: 5px;
        color: #86c232;
        margin-bottom: 10px;
    }

    .lake-info-container p {
        margin-top: 10px;
        padding-left: 60px;
        padding-right: 60px;
        line-height: 23px;
        font-size: 17px;
        margin-bottom: 20px;
    }

    .lake-info-container img {
        width: 90%;
        display: block;
        margin: auto;
        border-radius: 10px;
        border-top: 4px solid #86c232;
        border-bottom: 4px solid #86c232;
    }

    /*----- Lakes Section -----*/

    .lakes-section {
        width: 100%;
        background-color: #30343a;
        overflow: hidden;
        border-top: 2px solid #86c232;
        border-bottom: 2px solid #86c232;
        padding-bottom: 30px;
        padding-top: 30px;
        ;
    }

    .lakes-wrapper-container {
        width: 1000px;
        margin: auto;
        overflow: hidden;
    }

    .lake-info-left-content {
        width: 500px;
        float: left;
    }

    .lake-info-left-content img {
        margin-left: 25px;
        width: 450px;
        float: left;
        border-radius: 10px;
        border-top: 3px solid #86c232;
        border-bottom: 3px solid #86c232;
    }

    .lake-info-left-content h3 {
        text-align: center;
        color: whitesmoke;
        padding-left: 50px;
        padding-right: 50px;
        overflow: hidden;
        padding-top: 10px;
    }

    .lake-info-left-content p {
        text-align: center;
        color: whitesmoke;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 10px;
    }

    .lake-info-right-content {
        width: 500px;
        float: right;
    }

    .lake-info-right-content img {
        margin-right: 25px;
        width: 450px;
        float: right;
        border-radius: 10px;
        border-top: 3px solid #86c232;
        border-bottom: 3px solid #86c232;
    }

    .lake-info-right-content h3 {
        text-align: center;
        color: whitesmoke;
        padding-left: 50px;
        padding-right: 50px;
        overflow: hidden;
        padding-top: 10px;
    }

    .lake-info-right-content p {
        text-align: center;
        color: whitesmoke;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 10px;
    }

    /*----- Pricing Section -----*/

    .pricing-container {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .pricing-header-container h2 {
        letter-spacing: 2px;
        text-align: center;
    }

    .pricing-box-wrapper {
        display: flex;
        justify-content: center;
    }

    .pricing-box {
        margin-left: 20px;
        margin-right: 20px;
        width: 300px;
        margin-left: 25px;
        margin-top: 20px;
        float: left;
        text-align: center;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 10px;
        border-top: 3px solid #86c232;
        border-bottom: 3px solid #86c232;
        overflow: hidden;
    }

    .pricing-box h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .pricing-box p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .long-line {
        width: 90%;
        border-top: 1px solid #dbe2ea;
        margin: auto;
    }

    .small-line {
        width: 50px;
        border-top: 1px solid #dbe2ea;
        margin: auto;
    }
    
    .wrapper{
        width: 500px;
        height: 226px;
        overflow:hidden;
        background-color: aqua;
        margin: 100px;
        border-radius: 10px;
        border-top: 3px solid #86c232;
        border-bottom: 3px solid #86c232;
    }
    
    .wrapper iframe{
        position: relative;
        top: -50px;
        left: -149px;
        
    }


}
