/*----- For Mobile -----*/

@media screen and (max-width: 768px) {
    
    /*----- Pricing Section -----*/

.pricing-container {
    margin-bottom: 30px;
    margin-top: 10px;
}

.pricing-header-container h2 {
    letter-spacing: 1px;
    text-align: center;
    color: #0e9ad5;
    margin-top: 20px;
}
    
.pricing-header-container p {
    letter-spacing: 1px;
    text-align: center;
    padding-top: 15px;
    width: 90%;
    margin: auto;
}

.line-edit {
    width: 40%;
    height: 1px;
    margin: auto;
    margin-top: 4px;
    border-top: 1px solid #dbe2ea;
}

.pricing-box {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    border-top: 3px solid #0e9ad5;
    border-bottom: 3px solid #0e9ad5;
    overflow: hidden;
}

.pricing-box h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.pricing-box p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.long-line {
    width: 90%;
    border-top: 1px solid #dbe2ea;
    margin: auto;
}

.small-line {
    width: 50px;
    border-top: 1px solid #dbe2ea;
    margin: auto;
}

}

/*----- For Tablet -----*/
@media screen and (min-width: 769px) and (max-width: 1050px) {
    
    /*----- Pricing Section -----*/

.pricing-container {
    margin-bottom: 30px;
    margin-top: 10px;
}

.pricing-header-container h2 {
    letter-spacing: 1px;
    text-align: center;
    color: #0e9ad5;
}
    
.pricing-header-container p {
    letter-spacing: 1px;
    text-align: center;
    padding-top: 15px;
    width: 80%;
    margin: auto;
}

.line-edit {
    width: 30%;
    height: 1px;
    margin: auto;
    margin-top: 4px;
    border-top: 1px solid #dbe2ea;
}

.pricing-box-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.pricing-box {
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    margin-left: 25px;
    margin-top: 20px;
    float: left;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    border-top: 3px solid #0e9ad5;
    border-bottom: 3px solid #0e9ad5;
    overflow: hidden;
}

.pricing-box h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.pricing-box p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.long-line {
    width: 90%;
    border-top: 1px solid #dbe2ea;
    margin: auto;
}

.small-line {
    width: 50px;
    border-top: 1px solid #dbe2ea;
    margin: auto;
}


}

/*----- For Desktop -----*/

@media only screen and (min-width: 1050px) {
    
    /*----- Pricing Section -----*/

.pricing-container {
    margin-bottom: 30px;
    margin-top: 10px;
}

.pricing-header-container h2 {
    letter-spacing: 1px;
    text-align: center;
    color: #0e9ad5;
    margin-top: 30px;
}
    
.pricing-header-container p {
    letter-spacing: 1px;
    text-align: center;
    padding-top: 15px;
    width: 800px;
    margin: auto;
}

.line-edit {
    width: 300px;
    height: 1px;
    margin: auto;
    margin-top: 4px;
    border-top: 1px solid #dbe2ea;
}

.pricing-box-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.pricing-box {
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    margin-left: 25px;
    margin-top: 20px;
    float: left;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    border-top: 3px solid #0e9ad5;
    border-bottom: 3px solid #0e9ad5;
    overflow: hidden;
}

.pricing-box h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.pricing-box p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.long-line {
    width: 90%;
    border-top: 1px solid #dbe2ea;
    margin: auto;
}

.small-line {
    width: 50px;
    border-top: 1px solid #dbe2ea;
    margin: auto;
}
    
}