RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} ^kurbit-designs.github.io/Lovells-Lake[NC]
RewriteRule ^(.*)$ https://kurbit-designs.github.io/Lovells-Lake/$1 [L,R=301]