RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} ^pipdesigns.co.uk [NC]
RewriteRule ^(.*)$ http://www.pipdesigns.co.uk/$1 [L,R=301]